body {
  /* background: #23212E; */
  /* background: linear-gradient(-180deg, #ded9d3, #bb6f6d), url(https://www.toptal.com/designers/subtlepatterns/patterns/cheap_diagonal_fabric.png); */
  /* background: linear-gradient( rgba(222, 217, 211, 0.32), rgba(187, 110, 109, 0.8)), url(https://www.toptal.com/designers/subtlepatterns/patterns/cheap_diagonal_fabric.png); */
  background: linear-gradient( rgba(222, 217, 211, 0.32), rgba(187, 110, 109, 0.8));
}

#navigation-area {
  background-color: #23212E;
  height: 50px;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100vw;
  z-index: 100;
}

.nav-text {
  color: rgba(252, 252, 252, 0.8);
  display: inline;
  font-size: .9em;
  font-family: 'Lato';
  letter-spacing: .3em;
  /* padding: 0px 100px; */
}

.header-bar {
  background-color: #23212E;
}


/* .header { */


/* font-family: 'Cookie', cursive; */


/* font-size: 1rem;
  font-weight: 700;
  letter-spacing: .3em;
} */

.nav-link:hover {
  color: white;
  font-size: .9em;
  /* text-align: center; */
}

@media (max-width: 545px) {
  .nav-text {
    /* font-size: .8em;
    letter-spacing: .2em; */
    /* line-height: 80px; */
  }
  #navigation-area {
    /* height: 80px; */
    /* align-items: center; */
  }
  .nav-text {
    /* display: inline-block;  */
    /* -ms-flex-pack: center;
    width: 100%;
    padding: 0px 0px;
    margin: 0; */
  }
  /* .navigation-items {
    display: inline-grid;
    text-align: center;
  } */
}


/* 
.solid-footer {
  height: 100px;
  background-color: black;
  color: white;
}

.solid-footer p {
  line-height: 90px;
  margin-bottom: 0;
  text-align: center;
  font-weight: lighter;
  font-size: .8em;
  letter-spacing: .1em;
}

#footer-image {
  width: 100%;
} */